.logo {
  --gutter: var(--space-xs);
  padding: var(--space-s) 0;
  font-size: var(--size-step-0);
  text-decoration: none;
}
.logo svg {
  fill: var(--color-pink);
  block-size: var(--size-step-0);
}