---
layout: base
title: Photos and the like
description: 'All photo posts can be found here'
pagination:
  data: collections.allPosts
  size: 9
permalink: '/images/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<article class="wrapper">
  <header class="full | section" style="margin-top: var(--space-xl-2xl); margin-bottom: var(--space-xl-2xl)">
      <h1 class="text-center" >{{ title }}</h1>
  </header>

  <custom-masonry layout="thirds">
		{% asyncEach item in pagination.items %}
			{% set definedDate = item.date %}

			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</article>
