---
layout: base
permalink: /index.html
title: 'A Humble Photoblog'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Recent Posts'
  intro: "I'm showing the last 6 posts, but [there are more](/images/)!"
---

<div class="wrapper">
  <header class="full | section" style="margin-top: var(--space-xl-2xl);">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
  </header>
  <section class="full | region"> 
    <div class="wrapper flow prose">
      <div class=" grid--image-text h-card">
          <h2>Photos by <span class="p-name">{{ meta.author.name }}</span></h2>
          {% indiewebImage meta.author.avatar, meta.author.name, "eager", "u-photo", false, [320, 570, 820] %}
          <p class="p-note text">Online since before some of you were born. Tired. Lead Software Developer, but I’m not allowed to talk about it. He/him/his. Scotland.</p>
          <p class="text offset">You can find out a bit more on my <a href="https://chrismcleod.dev" class="u-url">blog</a>.</p>
      </div>
    </div>
  </section>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        {{ blog.intro | markdownFormat | safe }}
      {% endif %}

      <div class="feature |  region region-space-l | h-feed">
        <custom-masonry layout="thirds">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 6) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
