---
layout: tags
permalink: /tags/index.html
eleventyComputed:
  title: '{{ meta.blog.tagPlural }}'
---

<div class="taglist | mt-s-m cluster">
  {% for tag in collections.tagList %}
    <a href="/tags/{{ tag }}" class="button"> {{ tag }} </a>
  {% endfor %}
</div>

<custom-masonry layout="thirds">
  {% set itemlist = collections.posts %}
  {% for item in itemlist %}
    {% set definedDate = item.date %}
		{% include "partials/card-blog.njk" %}
  {% endfor %}
</custom-masonry>
